# Auto detect text files and perform LF normalizatio

* text=auto


# Declare files that will always have CRLF line endings on checkout.
*.cs text eol=crlf
*.xaml text eol=crlf
*.csproj text eol=crlf
*.sln text eol=crlf